.checkout__body {
    background-color: #EAEDED;
    height: 100vh;
}
.checkout__container {
    background-color: white;
    margin: 15px;
    width: 73vw;
}
.textgap {
    margin: 5px;
}
.placeorder__button2 {
    width: 280px;
    height: 30px;
    border-radius: 5px;
    margin: 10px;
    border: 0px;
    color: black;
    background-color: #FFD712;
}
.product__name{
    font-size: 16px !important;
    line-height: 24px !important;
    font-weight: bold;
    margin-top: 10px;
}  
.product__rating{
    font-size: 14px;
    color: #007185
}
.product__price2{
    position: absolute;
    color:#0f1111;
    font-size: 30px;
    margin-left: 900px;
    margin-top: 10px;
    display: flex;
}
.delete{
    margin-left: 185px;
    margin-bottom: 20px;
    margin-top: -50px;
}
.star{
    color:#FFBF00;
    margin-top: 5px;
    margin-left: 10px;
}

